.start-screen {
  width: 1280px;
  height: 530px;
  margin: 0 auto;
  border: 1px solid black;
  background: url('../images/castleHome.gif');
  /* background-size: 100%; */
  position: relative;
}

.delete-btn {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60);
  margin: 10px;
}

.play-btn {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
  margin: 10px;
}

.size-btn {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(223, 117, 20);
  margin: 10px;
}

.background-btn {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
  margin: 10px;
}

.editor-screen {
  width: 1280px;
  height: 480px;
  margin: 0 auto;
  border: 1px solid black;
  background: url('../images/bg.png');
  position: relative;
  overflow: hidden;
  display: none;
}

.level-dropdown {
  margin: auto;
  width: 15%;
  border: 5px solid green;
  padding: 10px;
  text-align: center;
  background: #d2d2d2;
}

.delete-buttons {
  margin: auto;
  width: 25%;
  border: 5px solid red;
  padding: 10px;
  text-align: center;
  background: #d2d2d2;
}

.editor-text {
  color: black;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}

.castle {
  width: 1280px;
  height: 480px;
  margin: 0 auto;
  border: 1px solid black;
  background: url('../images/castle.png');
  position: relative;
  overflow: hidden;
  display: none;
}

.forest {
  width: 1280px;
  height: 480px;
  margin: 0 auto;
  border: 1px solid black;
  background: url('../images/bg.png');
  position: relative;
  overflow: hidden;
  display: none;
}

.cave {
  width: 1280px;
  height: 480px;
  margin: 0 auto;
  border: 1px solid black;
  background: url('../images/cave.png');
  position: relative;
  overflow: hidden;
  display: none;
}

.lava {
  width: 1280px;
  height: 480px;
  margin: 0 auto;
  border: 1px solid black;
  background: url('../images/lava.png');
  position: relative;
  overflow: hidden;
  display: none;
}

.game-screen {
  width: 1280px;
  height: 480px;
  border: 1px solid black;
  border-top: none;
  background: url('../images/bg.png');
  display: none;
  margin: 0 auto;
}

.game-screen2 {
  width: 1280px;
  height: 480px;
  border: 1px solid black;
  border-top: none;
  background: url('../images/lava.png');
  display: none;
  margin: 0 auto;
}

.score-wrapper {
  padding-left: 40px;
  width: 1240px;
  margin: 0 auto;
  height: 50px;
  display: none;
  border: 1px solid black;
  border-bottom: none;
  line-height: 50px;
  font-size: 20px;
  background-color: black;
  color: red;
}

.life-count {
  background: url('../images/king-head.png') left center no-repeat;
  width: 100px;
  float: left;
  padding-left: 40px;
}

.gem-score {
  background: url('../images/gem.gif') left center no-repeat;
  width: 150px;
  float: left;
  padding-left: 40px;
}

.bow-icon {
  background: url('../images/bow_icon.png') left center no-repeat;
  width: 150px;
  float: left;
  padding-left: 40px;
}

.sword-icon {
  background: url('../images/sword_icon.png') left center no-repeat;
  width: 150px;
  float: left;
  padding-left: 40px;
}

.staff-icon {
  background: url('../images/staff_icon.png') left center no-repeat;
  width: 150px;
  float: left;
  padding-left: 40px;
}

.teleporter-icon {
  background: url('../images/teleport_icon.png') left center no-repeat;
  width: 150px;
  float: left;
  padding-left: 40px;
}

.destroyer-icon {
  background: url('../images/bomb.png') left center no-repeat;
  width: 150px;
  float: left;
  padding-left: 40px;
}

.no-weapon-icon {
  background: url('../images/no_weapon_icon.png') left center no-repeat;
  width: 150px;
  float: left;
  padding-left: 40px;
}

.door-face {
  background: url('../images/door.png') left center no-repeat;
  width: 150px;
  float: left;
  padding-left: 40px;
}

.chest-face {
  background: url('../images/openChest.png') left center no-repeat;
  width: 150px;
  float: left;
  padding-left: 40px;
}

.total-score {
  float: left;
}

.total-timeElapsed {
  float: left;
  padding-left: 40px; 
}

.cell {
  width: 31px;
  height: 31px;
  border: 1px solid blue;
}

.active {
  width: 31px;
  height: 31px;
  border: 1px solid blue;
  background: red;
  opacity: 0.5;
}

.element-wrapper {
  width: 1280px;
  height: 65px;
  background: #d2d2d2;
  margin: 0 auto;
  border: 1px dotted black;
  display: none;
  text-align: left;
}

.platformCastle {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') 0 0;
}

.platformForest {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -32px 0;
}

.platformCave {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -64px 0;
}

.platformLava {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -96px 0;
}

.gem {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -128px 0;
}

.chest {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -160px 0;
}

.sword {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -192px 0;
}

.bow {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -224px 0;
}

.staff {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -256px 0;
}

.arrow {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -288px 0;
}

.key {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -320px 0;
}

.door {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -352px 0;
}

.openDoor {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -352px 0;
}

.enemy1 {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -384px 0;
}

.flyer {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -512px 0;
}

.enemy3 {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -544px 0;
}

.crab {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -576px 0;
}

.boss {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -608px 0;
}

.wizard {
  width: 31px;
  height: 31px;
  background: url('../images/enemies.png') 0 0;
}

.dguy {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -416px 0;
}

.teleporter {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -448px 0;
}

.destroyer {
  width: 31px;
  height: 31px;
  background: url('../images/elements.png') -480px 0;
}

.right-arrow {
  width: 60px;
  height: 60px;
  top: 215px;
  right: 0;
  background: url('../images/slider-right.png');
  position: absolute;
}

.left-arrow {
  width: 60px;
  height: 60px;
  top: 215px;
  left: 0;
  background: url('../images/slider-left.png');
  position: absolute;
}

.element-wrapper * {
  margin: 10px;
  float: left;
}

.levels-wrapper {
  width: 1280px;
  height: 530px;
  margin: 0 auto;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  display: none;
  background: url('../images/bg.png');
}

.btn-wrapper {
  width: 1280px;
  height: 100px;
  margin: 0 auto;
}

.no-maps {
  width: 1000px;
  text-align: center;
  font-family: SuperKing256;
  font-size: 25px;
  margin: 0 auto;
  color: #ffffff;
  background: #5fb952;
  border: 2px solid black;
}

.loading-percentage {
  font-size: 60px;
  font-family: SuperKing256;
  text-align: center;
  padding: 100px;
}

.fb-comments {
  margin: 0 auto;
}

/* Modal Content */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.start-btn {
  width: 545px;
  height: 166px;
  color: #ffffff;
  background: url('../images/start-btn.png');
  background-size: 100%;
  position: absolute;
  bottom: 270px;
  border-radius: 20%;
  left: 367.5px;
  border: 0px solid black;
}

.editor-btn {
  width: 545px;
  height: 166px;
  background: url('../images/start-btn.png');
  position: absolute;
  bottom: 80px;
  left: 367.5px;
  color: #ffffff;
  border: 0px solid black;
}

.editor-btn:hover {
  cursor: pointer;
  animation: animateLogin 8s linear infinite;
  color: #000;
  overflow: hidden;
  transform: scale(1.1, 1.1);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  z-index: 5;
}

.editor-btn:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animateLogin 8s linear infinite;
}

.start-btn:hover {
  cursor: pointer;
  animation: animateLogin 8s linear infinite;
  color: #000;
  overflow: hidden;
  transform: scale(1.1, 1.1);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  z-index: 5;
}

.start-btn:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animateLogin 8s linear infinite;
}

@keyframes animateLogin {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
